<div class="row mb-3">
	<ul class="nav nav-tabs justify-content-center">
		<li class="nav-item" *ngFor="let d of guideSection?.guideSectionArticles">
			<a class="nav-link" [routerLink]="[ownerGuidePathName, guideSection?.title, d.title]" routerLinkActive="active">{{d.title}}</a>
		</li>
	</ul>
</div>
<div class="row">
	<div #articleHost></div>
</div>