        <ul class="social__footer">
            <li>
                <a href="//facebook.com/subaruofamerica" title="Facebook" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Group_20329" x="0px" y="0px" width="612px" height="792px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
<g id="Group_19428" transform="translate(0)">
<path id="Path_16121" d="M597.057,301.337c52.245,160.677-35.656,333.286-196.333,385.532   C240.046,739.114,67.438,651.213,15.192,490.535C-37.054,329.858,50.848,157.25,211.525,105.004   c30.548-9.933,62.469-14.993,94.591-14.993C438.617,90.047,556.047,175.343,597.057,301.337z M306.116,117.566   C152.33,117.592,27.682,242.282,27.708,396.068c0.026,153.787,124.716,278.435,278.503,278.408   c153.786-0.026,278.435-124.716,278.408-278.502c-0.005-29.118-4.577-58.055-13.549-85.755   C533.926,195.302,426.887,117.472,306.116,117.566z" />
</g>
<path id="Path_16122" d="M347.407,308.184c8.351-0.487,16.702,0,25.054,0h3.434v-43.24c-4.43-0.487-8.839-0.975-13.756-1.483  c-8.505-0.654-17.04-0.817-25.563-0.488c-12.842-0.032-25.378,3.915-35.885,11.298c-11.813,8.5-19.627,21.469-21.621,35.885  c-1.001,6.174-1.498,12.419-1.483,18.674v32.43h-41.735v48.158h41.29v121.328h50.129V409.438h40.781  c1.972-16.215,3.922-31.943,6.359-48.751h-47.649c0,0,0-24.079,0.487-34.401C327.758,312.635,336.109,308.184,347.407,308.184z" />
</svg>
                </a>
            </li>
            <li>
                <a href="//twitter.com/subaru_usa" title="Twitter" target="_blank">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="612px" height="792px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
<g id="Group_20330" transform="translate(-0.001)">
<g id="Group_19430">
<path id="Path_16123" d="M597.056,301.324c52.254,160.7-35.66,333.332-196.359,385.585
			c-160.701,52.253-333.333-35.661-385.585-196.36c-52.253-160.7,35.661-333.332,196.361-385.585
			c30.552-9.935,62.477-14.995,94.604-14.996C438.595,90.005,556.04,175.313,597.056,301.324z M306.075,117.527
			C152.467,117.785,28.151,242.519,28.409,396.128c0.258,153.608,124.992,277.924,278.601,277.666
			c153.608-0.258,277.925-124.992,277.666-278.601c-0.049-29.027-4.642-57.868-13.61-85.474
			C533.569,195.107,426.665,117.571,306.075,117.527z" />
	</g>
<path id="Path_16124" d="M260.793,462.523c-25.373-0.389-47.617-17.055-55.118-41.296c8.483,1.643,17.232,1.31,25.566-0.976
		c0.374-0.037,0.721-0.211,0.975-0.487c-27.595-5.863-47.293-30.278-47.189-58.489c8.197,4.381,17.259,6.9,26.541,7.377
		c-12.548-8.311-21.362-21.186-24.57-35.891c-3.388-14.543-1.114-29.831,6.36-42.759c30.272,37.026,74.788,59.526,122.552,61.944
		c-0.486-2.459-0.486-4.431-0.975-6.36c-1.798-13.586,1.339-27.367,8.84-38.837c8.838-14.457,23.551-24.331,40.279-27.029
		c19.076-3.6,38.68,2.685,52.107,16.705c0.975,0.975,1.971,1.484,2.946,0.975c12.141-2.432,23.776-6.92,34.406-13.271
		c0.487,0,0.487-0.488,0.976-0.488h0.487c-4.563,13.417-13.587,24.864-25.565,32.435c11.324-1.436,22.4-4.41,32.922-8.84v0.488
		c-2.459,2.947-4.432,5.894-6.891,8.84c-6.338,7.74-13.6,14.674-21.623,20.648c-0.607,0.475-0.965,1.2-0.975,1.971
		c0.412,8.859,0.085,17.737-0.976,26.542c-2.292,18.222-7.436,35.971-15.242,52.595c-8.111,17.141-18.895,32.883-31.947,46.639
		c-21.915,23.088-50.401,38.875-81.596,45.218c-10.837,2.273-21.854,3.586-32.922,3.922c-33.465,1.261-66.524-7.669-94.803-25.608
		c-0.487,0-0.975-0.487-1.484-0.976c20.21,2.424,40.703-0.455,59.463-8.353C243.071,474.636,252.277,469.055,260.793,462.523z" />
</g>
</svg>
                </a>
            </li>
            <li>
                <a href="//instagram.com/subaru_usa" title="Instagram" target="_blank">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="612px" height="792px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
<g id="Group_20333" transform="translate(0)">
                    <g id="Group_19438">
                    <path id="Path_16132" d="M597.075,301.324c52.253,160.7-35.661,333.332-196.36,385.585
			c-160.7,52.253-333.332-35.661-385.584-196.36c-52.253-160.7,35.66-333.332,196.36-385.585
			c30.552-9.935,62.478-14.995,94.604-14.996C438.614,90.005,556.06,175.313,597.075,301.324z M306.095,117.527
			C152.486,117.785,28.171,242.519,28.429,396.128c0.258,153.608,124.991,277.924,278.601,277.666
			c153.608-0.258,277.924-124.992,277.666-278.601c-0.049-29.027-4.641-57.868-13.61-85.474
			C533.589,195.107,426.685,117.571,306.095,117.527z" />
	</g>
                    <path id="Path_16133" d="M384.257,282.16H227.955c-19.458-0.082-35.299,15.625-35.381,35.084c-0.001,0.099-0.001,0.198,0,0.297
		v156.302c-0.083,19.458,15.625,35.299,35.084,35.381c0.099,0.001,0.198,0.001,0.297,0h156.302
		c19.458,0.082,35.3-15.625,35.382-35.084c0-0.099,0-0.198,0-0.297V317.542c0.082-19.458-15.626-35.299-35.084-35.381
		C384.455,282.16,384.355,282.16,384.257,282.16z M354.769,313.62c0.079-3.479,2.881-6.281,6.36-6.36h27.559
		c3.479,0.079,6.281,2.881,6.359,6.36v27.559c-0.078,3.479-2.881,6.281-6.359,6.36h-27.559c-3.479-0.079-6.281-2.88-6.36-6.36
		V313.62z M264.333,379.486c6.769-17.169,23.329-28.47,41.784-28.513c18.499-0.101,35.133,11.25,41.784,28.513
		c8.93,23.334-2.746,49.49-26.08,58.42s-49.49-2.745-58.421-26.079c-1.971-5.148-2.983-10.612-2.989-16.124
		C261.017,390.151,262.335,384.701,264.333,379.486L264.333,379.486z M396.065,474.353c-0.069,6.211-5.088,11.229-11.3,11.299
		H228.465c-6.212-0.069-11.23-5.088-11.299-11.299v-94.867h22.619c-1.381,5.293-2.043,10.748-1.972,16.217
		c-0.051,38.273,30.936,69.341,69.209,69.392s69.341-30.935,69.392-69.208c0-0.061,0-0.122,0-0.183
		c0.132-5.473-0.532-10.936-1.972-16.217h22.619v94.867H396.065z" />
</g>
</svg>
                </a>
            </li>
            <li>
                <a href="//youtube.com/user/Subaru" title="YouTube" target="_blank">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="612px" height="792px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
<g id="Group_20331" transform="translate(0)">
                    <g id="Group_19432">
                    <path id="Path_16125" d="M597.075,301.324c52.253,160.7-35.661,333.332-196.36,385.585S67.383,651.248,15.13,490.549
			c-52.253-160.7,35.661-333.332,196.36-385.585c30.553-9.935,62.479-14.995,94.605-14.996
			C438.614,90.005,556.061,175.313,597.075,301.324z M306.096,117.527C152.487,117.785,28.172,242.519,28.43,396.128
			c0.259,153.608,124.991,277.924,278.601,277.666c153.608-0.258,277.924-124.992,277.666-278.601
			c-0.049-29.027-4.641-57.868-13.61-85.474C533.591,195.107,426.686,117.571,306.096,117.527z" />
	</g>
                    <g id="Group_19434" transform="translate(8.527 7.303)">
                    <path id="Path_16126" d="M271.514,237.483H254.3l-11.788,44.73l-11.787-44.73h-17.699c3.434,10.324,7.378,21.199,10.812,31.459
			c4.318,11.692,7.79,23.679,10.388,35.869v45.706h16.705v-45.706L271.514,237.483z M316.732,323.488V294
			c0.65-6.92-1.086-13.854-4.918-19.652c-4.06-5.712-10.697-9.026-17.702-8.84c-7.029-0.301-13.719,3.04-17.702,8.84
			c-3.767,5.827-5.496,12.737-4.918,19.652v29.488c-0.65,6.92,1.086,13.854,4.918,19.652c4.057,5.715,10.697,9.03,17.702,8.84
			c7.055,0.416,13.796-2.952,17.702-8.84C315.648,337.343,317.382,330.408,316.732,323.488L316.732,323.488z M301.49,326.435
			c0,7.858-2.46,11.787-7.378,11.787s-7.378-3.929-7.378-11.787v-35.381c0-7.858,2.46-11.787,7.378-11.787s7.378,3.929,7.378,11.787
			V326.435z M373.249,350.517v-84.034h-15.242v64.382c-3.435,4.918-6.359,7.377-9.836,7.377c-1.711,0.186-3.249-1.051-3.435-2.762
			c-0.024-0.224-0.024-0.449,0-0.672v-68.325h-15.242v66.841c-0.173,4.292,0.327,8.583,1.484,12.72
			c1.346,4.192,5.462,6.853,9.836,6.36c7.063-0.884,13.455-4.613,17.702-10.324v9.349h14.84L373.249,350.517z" />
                    <g id="Group_19433" transform="translate(0 6.028)">
                    <path id="Path_16127" d="M325.106,429.54c-2.941,0.068-5.677,1.522-7.378,3.922v51.196c1.851,2.223,4.5,3.631,7.378,3.922
				c4.431,0,6.359-3.922,6.359-11.299v-35.954C331.974,433.462,329.515,429.54,325.106,429.54z" />
                    <path id="Path_16128" d="M381.623,429.54c-4.918,0-7.378,3.93-7.378,11.787v7.865h15.242v-7.865
				C389.085,433.462,386.541,429.54,381.623,429.54z" />
                    <path id="Path_16129" d="M418.488,387.27c-2.81-13.139-13.684-23.022-27.029-24.57c-62.503-4.587-125.258-4.587-187.761,0
				c-13.346,1.548-24.22,11.432-27.03,24.57c-3.665,19.403-5.15,39.157-4.429,58.891c-0.765,19.764,0.722,39.55,4.431,58.977
				c2.81,13.138,13.684,23.022,27.029,24.569c62.503,4.588,125.258,4.588,187.761,0c13.346-1.547,24.22-11.432,27.03-24.569
				c3.671-19.432,5.157-39.214,4.43-58.977C423.64,426.427,422.154,406.673,418.488,387.27z M243.509,404.462h-18.272v96.329
				h-16.705v-96.329h-17.702v-15.73h52.596L243.509,404.462z M289.723,500.791h-15.242v-9.349
				c-3.979,5.752-10.243,9.513-17.191,10.324c-4.375,0.493-8.491-2.168-9.837-6.36c-1.208-3.98-1.71-8.142-1.483-12.296v-65.865
				h15.242v67.328c0.487,2.459,1.483,3.435,3.434,3.435c2.946,0,6.359-2.459,9.836-6.89v-63.873h15.242V500.791z M347.237,475.733
				c0.215,5.609-0.283,11.223-1.483,16.705c-1.16,5.769-6.429,9.774-12.296,9.349c-6.434-0.434-12.274-3.905-15.73-9.349v7.865
				h-15.242V388.732h15.242v36.866c3.645-5.166,9.424-8.413,15.73-8.841c5.823-0.277,11.007,3.663,12.296,9.35
				c1.2,5.482,1.698,11.096,1.483,16.705V475.733z M404.243,461.487h-30.464v14.84c0,7.865,2.46,11.787,7.864,11.787
				c3.513,0.221,6.563-2.39,6.89-5.894c0-0.976,0.488-3.922,0.488-10.324h15.242v2.459c0.191,3.287,0.028,6.585-0.488,9.837
				c-0.316,3.204-1.505,6.262-3.434,8.84c-4.176,5.835-11.021,9.161-18.188,8.84c-7.045,0.263-13.796-2.838-18.188-8.353
				c-3.767-5.826-5.496-12.737-4.918-19.651v-29.594c-0.578-6.915,1.151-13.825,4.918-19.652c4.249-5.694,11.101-8.84,18.188-8.353
				c6.909-0.27,13.516,2.849,17.702,8.353c3.542,5.922,5.254,12.76,4.918,19.652v17.192L404.243,461.487z" />
		</g>
	</g>
</g>
</svg>
                </a>
            </li>
            <li>
                <a href="//pinterest.com/subaru" title="Pinterest" target="_blank">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="612px" height="792px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
<g id="Group_20332" transform="translate(0)">
<g id="Group_19436">
<path id="Path_16130" d="M597.076,301.324c52.252,160.7-35.662,333.332-196.361,385.585S67.383,651.248,15.131,490.549
			c-52.254-160.7,35.66-333.332,196.359-385.585c30.553-9.935,62.479-14.995,94.605-14.996
			C438.615,90.005,556.061,175.313,597.076,301.324z M306.096,117.527C152.488,117.785,28.172,242.519,28.43,396.128
			c0.26,153.608,124.992,277.924,278.602,277.666c153.607-0.258,277.924-124.992,277.666-278.601
			c-0.049-29.027-4.641-57.868-13.611-85.474C533.592,195.107,426.686,117.571,306.096,117.527z" />
	</g>
<path id="Path_16131" d="M295.793,439.438c0,0.975-0.488,1.483-0.488,1.971c-3.842,23.232-11.129,45.762-21.623,66.842
		c-4.82,8.827-10.41,17.212-16.705,25.058c-0.521,1.169-1.668,1.935-2.947,1.971c-1.484-0.487-1.484-1.483-1.971-2.946
		c-1.652-12.052-2.313-24.219-1.973-36.378c0.488-15.729,2.459-21.199,23.107-107.141c0.361-1.16,0.182-2.421-0.488-3.435
		c-5.145-12.849-5.67-27.085-1.482-40.278c9.326-29.488,42.271-31.46,48.164-7.377c3.434,14.839-5.895,34.406-13.271,63.407
		c-5.893,24.083,22.111,40.787,46.193,23.595c21.65-21.524,32.326-51.735,29-82.083c-3.434-54.567-62.92-66.354-100.76-48.758
		c-43.246,20.161-52.998,73.731-33.918,98.301c2.461,2.947,4.432,4.918,3.434,8.352c-1.482,4.919-2.459,9.837-3.922,14.84
		c-0.697,2.891-3.607,4.668-6.496,3.97c-0.479-0.115-0.939-0.296-1.367-0.535c-7.221-2.813-13.518-7.575-18.188-13.759
		c-19.443-29.043-19.25-66.997,0.486-95.841c24.773-36.05,67.744-55.067,111.084-49.161c43.363,2.674,79.188,34.83,86.514,77.653
		c3.729,32.188-4.684,64.609-23.594,90.923c-28.025,34.895-73.732,37.354-94.865,15.73
		C298.316,442.791,297.008,441.148,295.793,439.438z" />
</g>
</svg>
                </a>
            </li>
        </ul>