.social__footer {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    padding: 0;
    li {
        svg{
            height: calc(40rem / 16);
            width: calc(40rem / 16);
        }
    }
}