<div class="row">
	<div class="col text-center">
		<div class="row">
			<img class="img-fluid" [src]="heroArticle?.mastImage">
		</div>
		<div class="row">
			<h1>{{ heroArticle?.title }}</h1>
		</div>
		<div class="row">
			<h4>{{ heroArticle?.byline }}</h4>
		</div>
		<div class="row">
			<h6 [innerHtml]="heroArticle?.publicationInfo"></h6>
		</div>
		<div class="row">
			<p>{{ heroArticle?.teaserBody }}</p>
		</div>
		<div class="row justify-content-center">
			<button type="button" class="btn btn-primary btn-sm mb-3 w-25" (click)="onReadMore()">Read More</button>
		</div>
	</div>
</div>
