<div class="row justify-content-md-center">
	<div *ngFor="let article of articles" style="background-clip: content-box;"
		class="col-md-4 mb-3 text-center bg-light">
		<img class="img-fluid" src="{{ article.mastImage }}">
		<div class="mx-3 mt-3">
			<p class="text-uppercase">{{ article.subcategory }}</p>
			<h4>{{ article.title }}</h4>
			<p>{{ article.teaserBody }}</p>	
		</div>
	</div>
</div>