<div class="row mb-3">
	<div class="text-light" style="height: 35rem;" [hidden]="!ownerGuide?.mastImage"
		[style.background-image]="'linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)), url(' + ownerGuide?.mastImage + ')'">
		<div class="text-center" style="padding-left: 55%; padding-top: 15%;">
			<h2>{{ownerGuide?.title}}</h2>
			<p [innerHTML]="ownerGuide?.body"></p>
		</div>
	</div>
</div>
<div class="row mb-3">
	<ul class="nav nav-tabs justify-content-center">
		<li class="nav-item" *ngFor="let section of ownerGuide?.guideSections">
			<a class="nav-link" [routerLink]="[OwnerGuidePathName, section.title]" routerLinkActive="active">{{section.title}}</a>
		</li>
	</ul>
</div>
<div class="row">
	<div #articlesHost></div>
</div>


