<div class="row">
	<div class="col-md-3" [innerHtml]="guideSectionLeftPanelBody"></div>
	<div class="col-md-6 text-center" [innerHtml]="guideSectionBody"></div>
	<div class="col-md-3"></div>
</div>
