<footer class="text-light">
    <div class="text-center footer-content">
        <a [routerLink]="['/']" class="footer-home">Subaru Drive</a>
        <span class="footer-copyright">&copy; {{currentYear}} Subaru of America, Inc.</span>
        <app-social-links></app-social-links>

        <button type="button" class="footer-subscribe-button inverse" [routerLink]="['/subscribe', {magazine: 'drive'}]">SUBSCRIBE</button>

        <ul class="footer-links">
            <li><a href="//www.subaru.com/company/conditions.html" target="_blank">TERMS &amp; CONDITIONS</a></li>
            <li><a href="//www.subaru.com/company/privacy.html" target="_blank">PRIVACY</a></li>
            <li><a [routerLink]="'/customer-support'">CUSTOMER SUPPORT</a></li>
            <!-- <li><a [routerLink]="'/downloads'" (click)="hideSideNav();_trackEvent('downloads', 'downloads', 'navigation')">DOWNLOADS</a></li> -->
            <!-- <li><a [routerLink]="'/contests/play-big-sweepstakes'" (click)="hideSideNav();_trackEvent('contests', 'contests')">CONTESTS & SWEEPSTAKES</a></li> -->
            <li><a href="//www.subaru.com/" target="_blank">SUBARU OF AMERICA</a></li>
            <!--<li><a href="#">SITEMAP</a></li>-->
        </ul>
    </div>
</footer>