:host {
    background-color: var(--ols-color-primary);
    ::ng-deep {
        a {
            &:not(:hover):not(:focus){
                color: var(--ols-color-primary-contrast);
            }
            path {
                transition: all 200ms ease-in-out;
                fill: var(--ols-color-primary-contrast);
            }
            &:hover path {
                fill: var(--ols-color-accent);
            }
        }
    }
}

.footer-content {
    &:before, &:after {
        content: '';
        width: 2px;
        height: 100px;
        background-color: #363636;
        display: block;
        margin: 0 auto;
    }
    &:before {
        margin-bottom: 80px;
    }
    &:after {
        margin-top: 56px;
    }
}

.footer-home {
    padding: 5px 0;
    display: block;
    margin: 0 auto 10px;
    line-height: calc(22rem/16);
    font-family: var(--ols-font-bold);
    font-size: calc(22rem/16);
    max-width: 90px;
    color: var(--ols-color-primary-contrast);
    border-top: calc(5rem / 16) solid var(--ols-color-primary-contrast);
}

.footer-copyright {
    font-size: calc(13rem/16);
    color: #858585;
    line-height: calc(19rem/16);
    font-family: var(--ols-font-roman);
    margin-bottom: 20px;
    display: inline-block;
}

.footer-subscribe-button {
    margin-bottom: 46px;
    width: calc(239rem/16);
    height: calc(43rem/16);
}

.footer-links {
    list-style: none;
    padding: 0;

    a {
        font-size: calc(11rem/16);
        font-family: var(--ols-font-bold);
        line-height: calc(26rem/16);
        letter-spacing: .08em;
    }
}