<div class="row justify-content-md-center">
	<div #articlesHost></div>
	<div class="row justify-content-center mb-3">
		<button (click)="onShowMoreClick()" type="button"
			class="btn btn-primary btn-sm mb-3 w-25">Show More</button>
	</div>
</div>
