:host {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--ols-color-primary-contrast);

    .active {
        color: var(--ols-color-font-grey);
    }
}

.top-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-home {
    border-top: 5px solid var(--ols-color-primary);
    font-family: var(--ols-font-bold);
    font-size: calc(22rem / 16);
    line-height: calc(22rem / 16);
    white-space: pre-line;
    padding-top: calc(2rem / 16);
    max-width: calc(100rem / 16);
    text-align: center;
    color: var(--ols-color-primary);
}

.nav {
    justify-content: center;
}

.nav-item {
    a {
        display: inline-block;
        padding: 10px 22px;
        font-size: calc(15rem / 16);
    }
}
.nav-subscribe-wrapper {
    padding: 0 13px;
    .nav-subscribe {
        color: var(--ols-color-primary);
        font-family: var(--ols-font-heavy);
        letter-spacing: 0.18em;
        line-height: calc(16rem / 16);
        font-size: calc(11rem / 16);
        padding: 5px 2px;
        border-bottom: 1px solid var(--ols-color-primary);
        display: inline-block;
        transition: all 200ms ease-in-out;
        &:hover, &:focus {
            color: var(--ols-color-accent);
            border-bottom: 1px solid var(--ols-color-accent);
        }
    }
}