<nav class="top-nav-content">
    <a class="nav-home" [routerLink]="['/']">Subaru Drive</a>
    <ul class="nav">
        <li class="nav-item">
            <a  [routerLink]="['/lifestyle']" routerLinkActive="active">Lifestyle & News</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/vehicle']" routerLinkActive="active">Vehicle & Performance</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/ownerguide']" routerLinkActive="active">Owner Guide</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/magazines']" routerLinkActive="active">The Magazine</a>
        </li>
    </ul>
    <div class="nav-subscribe-wrapper">
        <a [routerLink]="['/subscribe', {magazine: 'drive'}]" class="nav-subscribe">SUBSCRIBE</a>
    </div>
</nav>