<div class="row justify-content-md-center">
	<div class="col-md-auto mb-3">
		<h3>Featured Content</h3>
	</div>
</div>
<app-articles-third [articles]="featuredArticles"></app-articles-third>
<app-article-hero [article]="heroArticle"></app-article-hero>
<hr />
<div class="row justify-content-md-center">
	<div class="col-md-auto mb-3">
		<h3>More {{ categoryName }}</h3>
	</div>
</div>
<app-articles-half [articles]="allArticles"></app-articles-half>