@import '~bootstrap/dist/css/bootstrap.min.css';

/* cyrillic */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtPY_Q.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDYbtPY_Q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDZbtPY_Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: subaruFontLt;
    src: url('assets/fonts/HelveticaNeueLTStd-Lt.woff');
}

@font-face {
    font-family: subaruFontRom;
    src: url('assets/fonts/HelveticaNeueLTStd-Roman.woff');
}

@font-face {
    font-family: subaruFontMd;
    src: url('assets/fonts/HelveticaNeueLTStd-Md.woff');
}

@font-face {
    font-family: subaruFontBd;
    src: url('assets/fonts/HelveticaNeueLTStd-Bd.woff');
}

@font-face {
    font-family: subaruFontHv;
    src: url('assets/fonts/HelveticaNeueLTStd-Hv.woff');
}

:root {
    --ols-color-primary: #000;
    --ols-color-primary-contrast: #fff;
    --ols-color-grey-dark: #414042;
    --ols-color-grey-medium: #666;
    --ols-color-grey-medium-light: #f4f4f4;
    --ols-color-grey-light: #fafafa;
    --ols-color-accent: #2e7af4;
    --ols-color-disabled: #bebebe;
    --ols-color-font-grey: #999;
    --ols-color-sidebar-grey: #eaeaea;
    --ols-color-owner-guide-highlights: #06A2DB;
    --ols-color-owner-guide-highlights-hover: #0d7ba7;
    --ols-color-owner-guide-resources: #005D97;
    --ols-color-owner-guide-resources-hover: #0f83d5;
    --ols-color-owner-guide-look-ahead: #AF4A95;
    --ols-color-owner-guide-look-ahead-hover: #73135b;
    --ols-color-validation-error: #c40e00;

    --ols-font-roman: subaruFontRom, "Helvetica Neue", sans-serif;
    --ols-font-light: subaruFontLt, "Helvetica Neue", sans-serif;
    --ols-font-medium: subaruFontMd, "Helvetica Neue", sans-serif;
    --ols-font-bold: subaruFontBd, "Helvetica Neue", sans-serif;
    --ols-font-heavy: subaruFontHv, "Helvetica Neue", sans-serif;
}

* {
    font-family: var(--ols-font-medium);
}

a {
    color: var(--ols-color-primary);
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover, &:focus {
        color: var(--ols-color-accent);
    }
}

button {
    letter-spacing: 0.18em;
    &.inverse {
        border: 2px solid var(--ols-color-primary-contrast);
        color: var(--ols-color-primary-contrast);
        font-family: var(--ols-font-heavy);
        font-size: calc(11rem/16);
        line-height: calc(15rem/16);
        background-color: transparent;
        transition: all 200ms ease-in-out;
        &:hover, &:focus {
            background-color: var(--ols-color-accent);
            border: 2px solid var(--ols-color-accent);
        }
    }
}