<div class="row">
	<div class="col-6 col-md-5">
		<img class="img-fluid" [src]="article?.mastImage">
	</div>
	<div class="col-6 col-md-7">
		<div class="row">
			<p>{{ article?.subcategory }}</p>
			<h4>{{ article?.title }}</h4>
		</div>
	</div>
</div>
